<div class="container-fluid p-0">
    <div class="profile-image">
        <div class="col-md-12 text-center text-position-center">
            <h1 class="text-light fs-30 fw-700">
                Daily Booking Status
            </h1>
        </div>
    </div>
    <!-- on going -->
    <div class="on-going-bg" *ngIf="ongoing">
        <h1 class="fs-18 fw-700">On-Going</h1>
        <div class="subbg">
            <div class="grid">
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-2">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Booking Type:</span>
                            <span class="fs-15 fw-700 text-color">{{s.rent.type}}</span>
                        </h1>
                    </div>
                    <div class="col-md-2">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">No of Days:</span>
                            <span class="fs-15 fw-700 text-color">{{s.rent.duration}}</span>
                        </h1>
                    </div>
                    <div class="col-md-2">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Booking Amount:</span>
                            <span class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{booked_amount}}</span></span>
                        </h1>
                    </div>
                    <div class="col-md-2">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Advanced Paid:</span>
                            <span class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{s.paid_amount}}</span></span>
                        </h1>
                    </div>
                </div>
                <div class="row my-3" *ngFor="let s of response">
                    <div class="col-md-6">
                        <h1>
                            <span class="fs-15 text-color mr-1">Total Amount to be paid as on date:</span> <span
                                class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{s.remaining_amount}}</span></span>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <button class="btn ongoing-btn text-color fs-15 fw-700 w-100" [disabled]="disable" (click)="complete()">Complete Booking</button>
                        <h1 class="text-success fs-18 fw-700 text-center" *ngIf="show">Booking has been completed</h1>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn text-color fs-15 fw-700 w-100" (click)="pay_ongoing(s.remaining_amount,s.id,s.payment_status,s.rent.end_date,s.rent.duration)">Pay</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="operator-now">
                            <h1 class="fs-18 text-color text-center mgb-0">Rate Operator Now</h1>
                            <div class="d-flex justify-content-center">
                                <h1 class="fs-15 fw-700 mr-5 mgb-0">On time</h1>
                                <h1 class="fs-15 fw-700 mgb-0">
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h1 class="fs-15 fw-700 mr-5 mgb-0">Behaviour</h1>
                                <h1 class="fs-15 fw-700 mgb-0">
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h1 class="fs-15 fw-700 mr-5 mgb-0">Quality of work</h1>
                                <h1 class="fs-15 fw-700 mgb-0">
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="booking-details my-4">
            <div class="grid">
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Booking Details
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">Booking ID:</span>
                            <span class="fs-15 fw-700">{{s.booked_id}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Equipment Type:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.subcategory.category. c_name}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Booking Date:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.booked_date}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Booking Time:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.booked_time}}</span>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Scheduled Details
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">Start Date & Time:</span>
                            <span class="fs-15 fw-700">{{s.rent.start_date}} {{s.rent.start_time}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                End Date & Time:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.end_date}} {{s.rent.end_time}}</span>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Worksite Address
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">{{s.rent.user.site[0].address1}},
                                {{s.rent.user.site[0].address2}}</span>
                            <span class="fs-15">{{s.rent.user.site[0].landmark}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                {{s.rent.user.site[0].state}},
                            </span>
                            <span class="fs-15">{{s.rent.user.site[0].city}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15">{{s.rent.user.site[0].pincode}}</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scheduled -->

    <div class="scheduled-bg" *ngIf="scheduled">
        <h1 class="fs-18 fw-700">Scheduled</h1>
        <div class="scheduled-subbg">
            <div class="grid">
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Booking Type:</span>
                            <span class="fs-15 fw-700 text-color">{{s.rent.type}}</span>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">No of Days:</span>
                            <span class="fs-15 fw-700 text-color">{{s.rent.duration}}</span>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Booking Amount:</span>
                            <span class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{booked_amount}}</span></span>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Advanced Paid:</span>
                            <span class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{s.paid_amount}}</span></span>
                        </h1>
                    </div>
                </div>
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-12">
                        <h1>
                            <span class="fs-15 text-color mr-1">Total Amount to be paid as on date:</span> <span
                                class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{s.remaining_amount}}</span></span>
                        </h1>
                    </div>
                    <!-- <div class="col-md-6 text-right">
                        <h1 class="text-right">
                            <i class="fa fa-download mr-2 cursor-pointer" aria-hidden="true"></i>
                            <i class="fa fa-share-alt cursor-pointer" aria-hidden="true"></i>
                        </h1>
                     </div> -->
                </div>

                <div class="row">
                    <div class="col-md-4 offset-4">
                        <button class="btn btn-danger text-color fs-15 fw-700 w-100" (click)="cancel()">Cancel Booking</button>
                        <!-- <h1 class="text-success fs-18 fw-700">Booking has been completed</h1> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-details my-4">
            <div class="grid">
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Booking Details
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">Booking ID:</span>
                            <span class="fs-15 fw-700">{{s.booked_id}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Equipment Type:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.subcategory.category. c_name}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Booking Date:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.booked_date}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Booking Time:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.booked_time}}</span>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Scheduled Details
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">Start Date & Time:</span>
                            <span class="fs-15 fw-700">{{s.rent.start_date}} {{s.rent.start_time}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                End Date & Time:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.end_date}} {{s.rent.end_time}}</span>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Worksite Address
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">{{s.rent.user.site[0].address1}},
                                {{s.rent.user.site[0].address2}}</span>
                            <span class="fs-15">{{s.rent.user.site[0].landmark}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                {{s.rent.user.site[0].state}},
                            </span>
                            <span class="fs-15">{{s.rent.user.site[0].city}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15">{{s.rent.user.site[0].pincode}}</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- completed -->

    <div class="completed-bg" *ngIf="completed">
        <h1 class="fs-18 fw-700">Completed</h1>
        <div class="subbg">
            <div class="grid">
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Booking Type:</span>
                            <span class="fs-15 fw-700 text-color">{{s.rent.type}}</span>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">No of Days:</span>
                            <span class="fs-15 fw-700 text-color">{{s.rent.duration}}</span>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Booking Amount:</span>
                            <span class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{booked_amount}}</span></span>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <h1 class="mgb-0">
                            <span class="fs-15 text-color mr-1">Advanced Paid:</span>
                            <span class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{s.paid_amount}}</span></span>
                        </h1>
                    </div>
                </div>
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-6">
                        <h1>
                            <span class="fs-15 text-color mr-1">Total Amount to be paid as on date:</span> <span
                                class="text-color fs-15 fw-700"><i class="fa fa-inr"
                                    aria-hidden="true"></i><span>{{s.remaining_amount}}</span></span>
                        </h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <h1 class="text-right">
                            <i class="fa fa-download mr-2 cursor-pointer" aria-hidden="true"></i>
                            <i class="fa fa-share-alt cursor-pointer" aria-hidden="true"></i>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="operator-now-completed">
                            <h1 class="fs-18 text-color text-center mgb-0">Rate Operator Now</h1>
                            <div class="d-flex justify-content-center">
                                <h1 class="fs-15 fw-700 mr-5 mgb-0">On time</h1>
                                <h1 class="fs-15 fw-700 mgb-0">
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h1 class="fs-15 fw-700 mr-5 mgb-0">Behaviour</h1>
                                <h1 class="fs-15 fw-700 mgb-0">
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h1 class="fs-15 fw-700 mr-5 mgb-0">Quality of work</h1>
                                <h1 class="fs-15 fw-700 mgb-0">
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star crexin-text" aria-hidden="true"></i>
                                    <i class="fa fa-star mr-2 ml-2" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 float-right text-right">
                        <!-- <button class="btn completed-btn text-color fs-15 fw-700 w-100">Complete Booking</button> -->
                        <!-- <h1 class="text-success fs-18 fw-700">Booking has been completed</h1> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-details my-4">
            <div class="grid">
                <div class="row" *ngFor="let s of response">
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Booking Details
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">Booking ID:</span>
                            <span class="fs-15 fw-700">{{s.booked_id}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Equipment Type:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.subcategory.category. c_name}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Booking Date:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.booked_date}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                Booking Time:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.booked_time}}</span>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Scheduled Details
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">Start Date & Time:</span>
                            <span class="fs-15 fw-700">{{s.rent.start_date}} {{s.rent.start_time}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                End Date & Time:
                            </span>
                            <span class="fs-15 fw-700">{{s.rent.end_date}} {{s.rent.end_time}}</span>
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <h1 class="fs-18 fw-700 text-color mgb-10">
                            Worksite Address
                        </h1>
                        <div class="border-bottom mgb-10"></div>
                        <h1 class="fs-15 mgb-0">
                            <span class="fs-15 mr-2">{{s.rent.user.site[0].address1}},
                                {{s.rent.user.site[0].address2}}</span>
                            <span class="fs-15">{{s.rent.user.site[0].landmark}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15 mr-2">
                                {{s.rent.user.site[0].state}},
                            </span>
                            <span class="fs-15">{{s.rent.user.site[0].city}}</span>
                        </h1>
                        <h1 class="mgb-0">
                            <span class="fs-15">{{s.rent.user.site[0].pincode}}</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div *ngIf="loading" class="text-center col-md-12">
            <h1 class="fs-15 fw-700">loading ...</h1>
        </div>
    </div>
</div>