.get-in-touch{
    background-color: #fff !important;
    border-radius: 10px !important;
    padding: 20px !important;
}
.input{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #ccc !important;
    border-radius: 0px !important;
}

.mapouter {
  border-radius: 10px !important;
  position: relative;
  text-align: right;
  height: auto;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: 100%;
}

.bg-image {
  background: url(/assets/images/contact_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  position: relative;
}