<div class="container-fluid p-0">
    <div class="bg-image">
        <div class="col-md-12 text-center text-position-center">
            <h1 class="text-light fs-30 fw-700">
                GET IN TOUCH WITH US
            </h1>
        </div>
    </div>
    <div class="details-bg">
        <div class="grid">
            <div class="row mgl-0 mgr-0">
                <div class="col-md-12">
                    <h1 class="fs-20 fw-700 text-color">CONTACT US</h1>
                </div>
                <div class="col-md-12">
                    <p class="fs-17 text-color lh-24">Our professional experts are available 24/7 to answer all your queries. you can use
                        the form
                        below to send us your valuable feedback or call us on our Tell Free Number at any time of the
                        day - even on sundays!</p>
                </div>
                <div class="col-md-12">
                    <h1 class="fs-20 fw-700 text-color">GET IN TOUCH</h1>
                </div>
                <div class="col-md-12">
                    <div class="get-in-touch">
                        <div class="row mg-0">
                            <div class="col-md-4">
                                <div>
                                    <h1 class="fs-17 fw-700 text-color">Mail Id:</h1>
                                    <div class="d-flex align-item-center">
                                        <i class="fa fa-envelope"></i>
                                        <div class="ml-2">
                                            <p class="fs-15">info@crexin.com</p>
                                            <p class="fs-15">Careers@crexin.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <h1 class="fs-7 fw-700 text-color">Contact:</h1>
                                    <div class="d-flex align-item-center">
                                        <i class="fa fa-phone"></i>
                                        <div class="ml-2">
                                            <p class="fs-15">+918805016820</p>
                                            <p class="fs-15">+91888878318</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12 my-3">
                                      <i class="fa fa-facebook fs-18 fw-700 crexin-text"></i>
                                      <i class="fa fa-twitter fs-18 fw-700 crexin-text mr-3 ml-3"></i>
                                      <i class="fa fa-instagram fs-18 fw-700 crexin-text mr-3"></i>
                                      <i class="fa fa-youtube-play fs-18 fw-700 crexin-text"></i>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-8">

                              <div class="mapouter">
                                <div class="gmap_canvas"><iframe width="100%" height="300" id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                        href="https://www.google.com/maps/dir//17.4915935,78.3703231/@17.491594,78.370323,15z?hl=en"></a><br>
                                   <a href="https://www.embedgooglemap.net">google maps generator</a>

                                </div>
                            </div>
                                <!-- <h1 class="fs-17 text-color fw-700">We are here assist you</h1>
                                <div>
                                    <form action="">
                                        <div class="form-group">
                                            <input type="text" placeholder="Name" class="form-control input">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Email Id" class="form-control input">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Mobile Number" class="form-control input">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" placeholder="Write Somthing.........">
                                            </textarea>
                                        </div>
                                    </form>
                                </div> -->
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>