<div class="row">
    <div class="col-md-3">
         <div>
             <img src="assets/images/c1.png" class="img-fluid" alt="Responsive image">
             <!-- <h1 class="crexin-text mgb-0 mgt-10 fs-16 fw-700 text-center">Crane 1</h1> -->
         </div>
    </div>
    <div class="col-md-5">
      <div class="pd-15 pdl-20">
          <h1 class="mgb-0 fs-20 fw-700 crexin-text">Crane 1</h1>
          <p class="fs-15">Main Boom 31` + 6` jib (9.45m + 1.83m) Max Lift Capacity 6,450ibs(2,925.67kg)Max Tip Height 37`(11.28m)
              Max Harizontal Reach 28`(8.53m) Boom Rotation: 360 Continuous
          </p>
      </div>
    </div>
    <div class="col-md-2">
      <div>
          <h1 class="mgb-0 fs-15">Hourly Price</h1>
          <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
          <span class="fs-15 fw-700">500</span>
      </div>
      <div>
          <h1 class="mgb-0 fs-15">Day Price</h1>
          <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
          <span class="fs-15 fw-700">2500</span>
      </div>
      <div>
          <h1 class="mgb-0 fs-15">Weekly price</h1>
          <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
          <span class="fs-15 fw-700">500</span>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <button class="btn btn fs-15 fw-700" routerLink="/rent">
          RENT
      </button>
    </div>
</div>
 <div class="row mgt-10">
  <div class="col-md-3">
       <div>
           <img src="assets/images/c.png" class="img-fluid" alt="Responsive image">
           <!-- <h1 class="crexin-text mgb-0 mgt-10 fs-16 fw-700 text-center">Crane 2</h1> -->
       </div>
  </div>
  <div class="col-md-5">
    <div class="pd-15 pdl-20">
        <h1 class="mgb-0 fs-20 fw-700 crexin-text">Crane 2</h1>
        <p class="fs-15">Main Boom 31` + 6` jib (9.45m + 1.83m) Max Lift Capacity 6,450ibs(2,925.67kg)Max Tip Height 37`(11.28m)
            Max Harizontal Reach 28`(8.53m) Boom Rotation: 360 Continuous
        </p>
    </div>
  </div>
  <div class="col-md-2">
    <div>
        <h1 class="mgb-0 fs-15">Hourly Price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">500</span>
    </div>
    <div>
        <h1 class="mgb-0 fs-15">Day Price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">2500</span>
    </div>
    <div>
        <h1 class="mgb-0 fs-15">Weekly price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">500</span>
    </div>
  </div>
  <div class="col-md-2 d-flex align-items-end">
    <button class="btn btn fs-15 fw-700" routerLink="/rent">
        RENT
    </button>
  </div>
 </div>
 <div class="row mgt-10">
  <div class="col-md-3">
       <div>
           <img src="assets/images/c4.png" class="img-fluid" alt="Responsive image">
           <!-- <h1 class="crexin-text mgb-0 mgt-10 fs-16 fw-700 text-center">Crane 3</h1> -->
       </div>
  </div>
  <div class="col-md-5">
    <div class="pd-15 pdl-20">
        <h1 class="mgb-0 fs-20 fw-700 crexin-text">Crane 3</h1>
        <p class="fs-15">Main Boom 31` + 6` jib (9.45m + 1.83m) Max Lift Capacity 6,450ibs(2,925.67kg)Max Tip Height 37`(11.28m)
            Max Harizontal Reach 28`(8.53m) Boom Rotation: 360 Continuous
        </p>
    </div>
  </div>
  <div class="col-md-2">
    <div>
        <h1 class="mgb-0 fs-15">Hourly Price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">500</span>
    </div>
    <div>
        <h1 class="mgb-0 fs-15">Day Price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">2500</span>
    </div>
    <div>
        <h1 class="mgb-0 fs-15">Weekly price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">500</span>
    </div>
  </div>
  <div class="col-md-2 d-flex align-items-end">
    <button class="btn btn fs-15 fw-700" routerLink="/rent">
        RENT
    </button>
  </div>
 </div>
 <div class="row mgt-10">
  <div class="col-md-3">
       <div>
           <img src="assets/images/c3.png" class="img-fluid" alt="Responsive image">
           <!-- <h1 class="crexin-text mgb-0 mgt-10 fs-16 fw-700 text-center">Crane 4</h1> -->
       </div>
  </div>
  <div class="col-md-5">
    <div class="">
    </div>
    <div class="pd-15 pdl-20">
        <p class="fs-15">Main Boom 31` + 6` jib (9.45m + 1.83m) Max Lift Capacity 6,450ibs(2,925.67kg)Max Tip Height 37`(11.28m)
            Max Harizontal Reach 28`(8.53m) Boom Rotation: 360 Continuous
        </p>
    </div>
  </div>
  <div class="col-md-2">
    <div>
        <h1 class="mgb-0 fs-15">Hourly Price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">500</span>
    </div>
    <div>
        <h1 class="mgb-0 fs-15">Day Price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">2500</span>
    </div>
    <div>
        <h1 class="mgb-0 fs-15">Weekly price</h1>
        <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
        <span class="fs-15 fw-700">500</span>
    </div>
  </div>
  <div class="col-md-2 d-flex align-items-end">
    <button class="btn btn fs-15 fw-700" routerLink="/rent">
        RENT
    </button>
  </div>
 </div>