<div class="container-fluid p-0">
    <div class="bg-image">
     
        <div class="main-forms">
            <div class="header">
                    <div class="logo">
                        <img src="assets/images/Logo-1.png" alt="login-log">
                    </div>
            </div>
            <div class="body">
                  <h1 class="text-color fs-18 fw-700 mgb-0">Enter Account Password</h1>
                  <h1 class="text-color fs-15 mgb-10 lh-20">For additional security, please enter your account password</h1>
                  <form [formGroup]="AccountPassword">
                    <!-- <div class="form-group">
                        <input type="password" placeholder="Account Password" class="form-control" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="fs-15 fw-700">Password is required</div>
                            <div *ngIf="f.password.errors.pattern" class="fs-15 fw-700">Min requirement:8 characters, 1 uppercase , 1 lowercase , 1 number & 1 special char</div>
                         </div>
                    </div> -->
                    <div class="form__div my-3">
                        <input type="password" class="form__input" placeholder=" " formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <label for="" class="form__label">Password</label>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="fs-13 fw-500 error_pos">Password is required</div>
                            <div *ngIf="f.password.errors.pattern" class="fs-13 fw-500 error_pos">Min requirement:8 characters, 1 uppercase , 1 lowercase , 1 number & 1 special char</div>
                         </div>
                      </div>
                    <div class="my-5">
                        <button class="btn btn fs-15 fw-700 text-color pd-10 w-100" type="button" (click)="account_password()">
                            LOGIN
                        </button>
                      </div>
                  </form>
            </div>
        
        </div>
        
    </div>
</div>