<div class="wrapp">
    <div class="container-fluid p-5">
        <div class="bg-wall">
            <h2>About <span class="font-weight-bold">CREXIN</span></h2>

            <div class="contentcls">
                <div class="patchcls">
                    <h2>HELPING CUSTOMERS RENT EQUIPMENTS IN NO TIME</h2>
                </div>
                <p>CREXIN PROVIDES CUSTOMERS AN EASIER AND FLEXIBLE PLATFORM FOR
                    RENTING EQUIPMENTS ANYTIME ANYWHERE. WE PROVIDE ROUND THE CLOCK
                    SUPPORT FOR ANY RENTAL NEEDS FOR OUR CUSTOMERS.</p>

                <p>
                    CREXIN RENTALS IS A PLATFORM WHERE CUSTOMERS CAN FIND WIDE
                    VARIETY OF CONSTRUCTION EQUIPMENTS TO RENT CONVENIENTLY
                    AT AFFORDABLE RATES.
                </p>
                <p>
                    ONCE A RENTAL REQUEST IS MADE, WE MAKE SURE TO FIND
                    THE RIGHT EQUIPMENT WHICH MATCHES THE SPECIFICATION AND DELIVER
                    IT AT RIGHT TIME TO RIGHT PLACE.
                </p>
                <p>
                    WE PROVIDE THE BEST CUSTOMER SUPPORT UNTIL THE JOB IS DONE.
                </p>
            </div>
        </div>


        <div class="missioncls py-5">
            <div class="row">
                <div class="text-center p-5 col-md-6 col-xs-12 col-xl-6 border-right">
                    <h2 class="font-weight-bold">MISSION</h2>
                    <P>
                        Our mission is to offer contractors a better way to manage mixed construction fleets by
                        leveraging technology solutions to work smarter, more efficiently and increase productivity.
                    </P>
                </div>

                <div class="text-center p-5 col-md-6 col-xs-12 col-xl-6 border-right">
                    <h2 class="font-weight-bold">VISION</h2>
                    <P>
                        Our mission is to offer contractors a better way to manage mixed construction fleets by
                        leveraging technology solutions to work smarter, more efficiently and increase productivity.
                    </P>
                </div>
            </div>
        </div>

        <div class="green-cls">
            <div class="head-sec text-center">
                <h1 class="font-weight-bold">CULTURE & VALUES</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>



                <div class="row my-3">
                  <div class="col-md-4 p-4 border-right">
                      <div class="icon">
                        <img src="assets/images/roundicon.png" class="img-fluid">
                        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia impedit incidunt
                          fugiat eligendi reprehenderit molestiae qui maiores voluptatum quo harum dolorum
                          recusandae quisquam est itaque magnam tenetur laudantium, doloribus assumenda corporis
                          essitatibus expedita accusamus laudantium eius nobis</p>
                      </div>
                  </div>

                  <div class="col-md-4 p-4 border-right">
                    <div class="icon">
                      <img src="assets/images/roundicon.png" class="img-fluid">
                      <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia impedit incidunt
                        fugiat eligendi reprehenderit molestiae qui maiores voluptatum quo harum dolorum
                        recusandae quisquam est itaque magnam tenetur laudantium, doloribus assumenda corporis
                        essitatibus expedita accusamus laudantium eius nobis</p>
                    </div>
                </div>


                <div class="col-md-4 p-4">
                  <div class="icon">
                    <img src="assets/images/roundicon.png" class="img-fluid">
                    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia impedit incidunt
                      fugiat eligendi reprehenderit molestiae qui maiores voluptatum quo harum dolorum
                      recusandae quisquam est itaque magnam tenetur laudantium, doloribus assumenda corporis
                      essitatibus expedita accusamus laudantium eius nobis</p>
                  </div>
              </div>
                </div>
            </div>
        </div>



        <section class="shakehand my-5">
          <div class="row">
            <div class='col-md-7'>
              <h1 class="font-weight-bold">PARTNER WITH US TO <span class="tealone">GROW STRONGER</span></h1>

                <p class="text-justify">
                    If you have an equipment that meets the construction needs then why wait ? TEAM UP with us for the exciting journey. 
                    Please submit your details here, we will reach out to you soon.</p>

                  <a href="" class="btn btn-know-more mt-3 fs-15">Know More</a>
            </div>


            <div class="col-md-5 px-0">
                <img src="assets/images/shakehand.jpg" class="w-100">

              </div>
          </div>
        </section>
    </div>
</div>
