<div class="grid">
    <div class="row">
        <div class="col-md-4">
             <div (click)="subcategories()">
                 <img src="assets/images/c1.png" alt="">
                 <h1 class="crexin-text mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
             </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/c-1.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/c3.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/c4.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/dfdsf.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/c.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/c3.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/c.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div>
              <img src="assets/images/c-1.png" alt="">
              <h1 class="mgb-0 mgt-10 fs-16 fw-700 text-center">Earth Moving Equipment</h1>

          </div>
        </div>
     </div>
</div>
