<div class="container-fluid p-0">
    <div class="bg-image">
        <div class="col-md-12 text-center text-position-center">
            <h1 class="text-light fs-30 fw-700">
                JOIN OUR TEAM & GROW WITH US
            </h1>
        </div>
    </div>
    <div class="details-bg">
        <div class="grid">
            <div class="row mg-0">
                <div class="col-md-6 my-3">
                    <div class="information" data-aos="flip-down">
                        <div class="social-icons text-center">
                            <i class="fa fa-envelope fs-20 fw-700">
                            </i>
                        </div>
                        <div class="text-center mt-3">
                            <h1 class="fs-15 mgb-0">Interested candidates please send your CV to</h1>
                            <h1 class="fs-18 fw-600 text-color">Info@crexin.com</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-3">
                    <div class="information" data-aos="flip-down">
                        <div class="social-icons text-center">
                            <i class="fa fa-phone fs-20 fw-700">
                            </i>
                        </div>
                        <div class="text-center mt-3">
                            <h1 class="fs-15 mgb-0">Interested candidates please send your CV to</h1>
                            <h1 class="fs-18 fw-600 text-color">Info@crexin.com</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h1 class="fs-20 fw-700 mgb-0 text-color">OUR BEST CAREERS</h1>
                    <hr>
                    <p class="fs-17 lh-24 text-color">We trust that our supremacy lies in our team. We believe that our team members are
                        our assets and it is our team that will ensure our success.</p>
                    <p class="fs-17 lh-24 text-color">Crexin is looking for dedicated, smart and motivated pepole to help develop,market
                        and support its world class serivce offerings, We believe in offering not just a job, but a
                        full-fledged career.</p>
                </div>
                <div class="col-md-12">
                    <h1 class="fs-20 fw-700 text-color">POSITIONS REQUIRED</h1>
                </div>
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <h2 class="fs-15 fw-700 mgb-0">PHP DEVELOPER</h2>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-angle-down fs-20 fw-700"></i>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body table-responsive">
                                    <table class="w-100 table-bordered">
                                        <thead class="bg-medium">
                                            <tr>
                                                <th class="text-center" style="width: 16% !important;">JOB TITLE:</th>
                                                <th>DESCRIPTIION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-light">
                                                <td class="fs-15 fw-700">Experience:</td>
                                                <td class="fs-15">0-5 Years</td>
                                            </tr>
                                            <tr class="bg-medium">
                                                <td class="fs-15 fw-700">Qualification:</td>
                                                <td class="fs-15">B.Tech,MCA,MSC,B.E</td>
                                            </tr>
                                            <tr class="bg-light">
                                                <td class="fs-15 fw-700">Shift Timings:</td>
                                                <td class="fs-15">10am-7pm IST</td>
                                            </tr>
                                            <tr class="bg-medium">
                                                <td class="fs-15 fw-700">Location:</td>
                                                <td class="fs-15">10am-7pm IST</td>
                                            </tr>
                                            <tr class="bg-light">
                                                <td class="fs-15 fw-700">Job Type:</td>
                                                <td class="fs-15">Full Time</td>
                                            </tr>
                                            <tr class="bg-medium">
                                                <td class="fs-15 fw-700">Job Description:</td>
                                                <td class="fs-15">
                                                    <ul class="mgl-25">
                                                        <li>We are looking for dynamic and motivated PHP developers to join our mobile development team that are interested in working in a fast paced environment for acutting edge technology start up.</li>
                                                        <li>The PHP developer is responsible for acreation and implementation of a wide varienty of Web-based products using PHP,Javascript,MySQL and AJAX with high expertise.</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="bg-light">
                                                <td class="fs-15 fw-700">Skill Set:</td>
                                                <td class="fs-15">
                                                    <ul class="mgl-25">
                                                        <li>Good command over PHP/Codeigniter Framework Laravel.</li>
                                                        <li>Good Experience in writing Restfull Webservices.</li>
                                                        <li>UI/UX Knowledge would be an added advantage.</li>
                                                        <li>Good Knowledge of CorePHP.</li>
                                                        <li>Strong exp. with PHP/HTML5/Javscript/CSS/Jquery/AJAX/Bootstrap/Loding page.</li>
                                                        <li>Good command over PHP Framework like Codeigniter?Laravel.</li>
                                                        <li>Excellent Knowledge of MySQL.</li>
                                                        <li>Good communication Skills.</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <h2 class="fs-15 fw-700 mgb-0">IOS DEVELOPER</h2>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-angle-down fs-20 fw-700"></i>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <h2 class="fs-15 fw-700 mgb-0">JAVA DEVELOPER</h2>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-angle-down fs-20 fw-700"></i>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <h2 class="fs-15 fw-700 mgb-0">GRAPHIC DEVELOPER</h2>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-angle-down fs-20 fw-700"></i>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <h2 class="fs-15 fw-700 mgb-0">PROJECT COORDINATOR</h2>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-angle-down fs-20 fw-700"></i>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <h2 class="fs-15 fw-700 mgb-0">SEO ANALYST</h2>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-angle-down fs-20 fw-700"></i>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default,
                                    until the collapse plugin adds the appropriate classes that we use to style each
                                    element. These classes control the overall appearance, as well as the showing and
                                    hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                                    our default variables. It's also worth noting that just about any HTML can go within
                                    the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>