<section class="ten">
    <div class="row mgl-0 mgr-0">
        <div class="col-md-4  d-flex justify-content-center">
            <div>
                <h1 class="fs-25 mgb-10 fw-700">Convenience at your Fingertips</h1>
                <h1 class="fs-25 mgb-10 fw-700">Download our Mobile App</h1>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <div class="app-store-icons">
                    <img src="assets/images/googlePlay.png" alt="Playstore-logo">
                </div>
                <div>
                    <h1 class="fs-20 fw-700 mgb-0">DOWNLOAD ON</h1>
                    <h1 class="fs-25 fw-700 mgb-0">Google Play</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <div class="app-store-icons">
                    <img src="assets/images/appstore.png" alt="appstore">
                </div>
                <div>
                    <h1 class="fs-20 fw-700 mgb-0">DOWNLOAD ON</h1>
                    <h1 class="fs-25 fw-700 mgb-0">App Store</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container-fluid">
        <div class="row mgl-0 mgr-0">
            <div class="col-md-4 text-center m-auto">
                <img src="assets/images/footer-logo.jpeg" class="img-fluid">
                <!-- <p class="font-weight-normal pfnt">CREXIN is India's leading Material Handling and Construction
                    Equipment
                    manufacturing company with a majority market share in Mobile Cranes and Tower Cranes Segment.</p> -->
            </div>

            <div class="col-md-4 my-2 quick-lines">
                <div>
                    <h2 class="fs-221 links bdrb-crexin">QUICK LINKS</h2>
                    <ul class="list-unstyled my-3">
                        <li class="my-2 fs-15 cursor-pointer" routerLink="/rent"><i
                                class="fa fa-circle crexin-text1 fs-10 mgr-10"></i> <span
                                class="fs-15 hover-dw">Rent</span></li>
                        <li class="my-2 fs-15 cursor-pointer" routerLink="/vendor"><i
                                class="fa fa-circle crexin-text1 fs-10 mgr-10"></i> <span class="hover-dw">Register an
                                Equipment</span>
                        </li>
                        <li class="my-2 fs-15 cursor-pointer" routerLink="/careers"><i
                                class="fa fa-circle crexin-text1 fs-10 mgr-10"></i><span class="hover-dw">Careers</span>
                        </li>
                        <li class="my-2 fs-15 cursor-pointer" routerLink="/contact"><i
                                class="fa fa-circle crexin-text1 fs-10 mgr-10"></i><span class="hover-dw">Contact</span>
                        </li>
                        <li class="my-2 fs-15 cursor-pointer"><i
                                class="fa fa-circle crexin-text1 fs-10 mgr-10"></i><span class="hover-dw"><a
                                href="#Enquiry"  class="text-white">Rental Requirement</a></span></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <h2 class="fs-221 bdrb-crexin links">NEED HELP</h2>
                <ul class="list-unstyled my-3">
                    <li class="my-2"> <i class="fa fa-phone mr-2" style="font-size: 21px;"></i>Toll Free: 040-25256526
                    </li>
                    <li class="my-3"><i class="fa fa-envelope mr-2" style="font-size:20px;"></i>info@crexin.com</li>
                </ul>
                <div class="d-inline-flex">Follow us on :
                    <ul class="list-unstyled d-inline-flex">
                        <li class="mx-3">
                            <a href="https://www.facebook.com/"> <i class="fa fa-facebook fs-20 crexin-text1"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="https://twitter.com/LOGIN"> <i class="fa fa-twitter fs-20 crexin-text1"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="https://www.instagram.com/accounts/login/"> <i
                                    class="fa fa-instagram fs-20 crexin-text1"></i>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a href="https://www.youtube.com/"> <i class="fa fa-youtube-play fs-20 crexin-text1"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="d-inline-flex" style="width: 85%;">
                    <input type="text" class="input-group news-email mr-2" placeholder="Enter Email for News Letter">
                    <button type="button" class="btn btn-news-submt">Submit</button>
                </div> -->
                <form [formGroup]="subscribe">
                <div class="input-group">
                    <!-- <input type="email" class="form-control font-weight-normal"
                        placeholder="Enter Email for News Letter" aria-label="Enter Email for News Letter"
                        aria-describedby="basic-addon2"> -->
                        <input type="email" class="form-control font-weight-normal" placeholder="Enter Email for News Letter" 
                  formControlName="email" id="email" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div class="input-group-append">
                    <button class="btn btn font-weight-normal submit" type="button" (click)="subscription()">Submit</button>
                </div>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required" class="fs-13">Email is required</div>
                  <div *ngIf="f.email.errors.email" class="fs-13">Please enter a valid email</div>
                </div>
                    <!-- <div class="input-group-append">
                        <button class="btn btn font-weight-normal submit" type="button" (click)="subscription()">Submit</button>
                    </div> -->
                </div>
                </form>
            </div>

        </div>
    </div>
</footer>
<footer class="footer-end">
    <div class="container py-1">
        <div class="row">
            <p class="m-auto fs-13 text-black">All Rights Reserved @ www.crexin.com</p>
        </div>
    </div>
</footer>