.login{
    /* margin:0 auto !important; */
    margin-top: 42%;
    border-radius: 10px !important;
}
h1{
    font-size: 18px !important;
    font-weight: 700 !important;
    margin-bottom: 5px !important;
    text-align: center;
}
.header{
    background-color: #dca101;
    display: flex;
    justify-content: center !important;
    padding: 15px !important;
}
img{
    width: 30% !important;
}
.body{
    background-color: #cccccc;
    padding: 20px !important;
}
.form-control{
    background-color: transparent !important;
    border: none !important;
    border: 2px solid #000 !important;
}
.btn{
    background-color: #dca101;
    font-size: 15px !important;
    font-weight: 700;
}
.form-control:focus{
    box-shadow: none !important;
}