<div class="container-fluid p-0">
    <div class="bg-image">
      <div class="grid">
          <div class="row">
              <div class="col-md-4 offset-md-4">
                  <div class="login">
                      <div class="header">
                              <img src="assets/images/Logo-1.png" alt="login-log">
                      </div>
                      <div class="body">
                          <!-- <h1 class="text-center">ENTER OTP</h1>  -->
                          <div class="text-center mb-2">
                              <a style="font-size: 60px !important;">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                              </a>
                          </div>
                          <div class="forms">
                              <div class="col-md-10 offset-md-1">
                                  <h1>Sign Up Completed</h1>
                                  <h1>Successfully....!</h1>
                              </div>
                              <form action="">
                                  <div class="col-md-10 offset-md-1 mt-4 text-center">
                                      <button class="btn btn text-light" type="button" routerLink="/">
                                          LOGIN NOW
                                      </button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>