.heading{
    position: absolute;
    top: 50%;
    /* left: 50%; */
}
.text{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.order-request{

    border-radius: 10px;
    padding: 10px;
    display: flex !important;
    justify-content: start;
}
.text-yellow
{
    color:#DCA101 !important;
}
.rent-bg{
    background-color: #f5f5f5;
    padding: 10px;
    margin: 15px 30px;
}
@media(max-width:560px){
    .rent-bg{
        background-color: #f5f5f5;
        padding: 30px;
        margin: 15px;
    }  
}
.border-bottom{
    border-bottom: 1px solid #bebebe !important;
}
.border-right{
    border-right: 1px solid #bebebe !important;
}
.price-sec
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.fs-15{
    font-size: 15px !important;
}