<div class="container-fluid p-0">
    <!-- <div class="bg-pic">
        <div class="col-md-12 text-position-center">
            <h1 class="text text-center">
                Rent an Equipment
            </h1>
        </div>
    </div> -->

    <div class="grid">
        <div class="row rent-bg">
            <!-- <div class="col-md-6 d-flex align-items-center">
                    <i class="fa fa-check-circle mr-2 crexin-text fs-38 fw-700" aria-hidden="true"></i>
                    <h1 class="mb-0 fs-18 fw-700 crexin-text">Your Order Request in {{booking_status}}.</h1>
                </div> -->
            <div class="col-md-12">
                <div class="order-request">
                    <h2 class="mb-0 mr-1 fw-600 fs-20 text-color">Your Booking ID:</h2>
                    <h2 class="crexin-text text-yellow fw-700 mb-0">#{{booker_id}}</h2>
                </div>
            </div>
            <div class="col-md-12 px-5">
                <p class="fs-17 lh-26 text-color">
                    Dear {{username}} ,Your request with Booking ID
                    {{booker_id}} for
                    {{equipment_model}} is currently being processed and you will receive the confirmation
                    with in 30 Mins. Thanks, CREXIN
                </p>
            </div>
        </div>
        <div class="row rent-bg">
            <div class="col-md-12">
                <div class="order-request">
                    <p class="mb-0 mr-1 fw-600 fs-20 text-color">Booking Status:</p>
                    <p class="crexin-text text-yellow fw-600 fs-20 mb-0">{{booking_status}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rent-bg">
        <div class="col-md-12 border-bottom px-4">
            <h1 class="fs-20 mb-1 fw-600 text-color">Booking Summary</h1>
            <!-- <div class="mb-2">
                <span class="mb-0 mr-1 fw-700 text-color">Your Booking ID:</span>
                <span class="crexin-text text-yellow fw-700 mb-0">#{{booker_id}}</span>
            </div> -->
        </div>
        <div class="order-request">

        </div>
        <!-- <div class="col-md-12 d-flex mgt-15">
                    <h2 class="mb-0 fs-18 text-color fw-600 mr-1">Order Request Number:</h2>
                    <h2 class="crexin-text fs-18 fw-600 mb-0">#{{booker_id}}</h2>
                </div> -->

        <div class="row w-100 mgt-15">
            <div class="col-md-3 border-right">
                <div class="image text-center" (click)="crane()">
                    <img src="{{equipment_image}}" alt="" class="w100">
                    <p class="mt-3 fs-15 fw-700">{{equipment_model}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h1><span class="fs-15 mr-1 text-color">Booking Type:</span><span
                            class="fs-15 fw-700 text-color">{{type}}</span></h1>
                    <h1><span class="fs-15 mr-1 text-color">Booking Date:</span><span
                            class="fs-15 fw-700 text-color">{{booked_date}}</span></h1>
                    <h1><span class="fs-15 mr-1 text-color">Start Date:</span><span
                            class="fs-15 fw-700 text-color">{{start_date}}</span></h1>

                </div>
            </div>

            <div class="col-md-3 border-right">
                <div>
                    <h1><span class="fs-15 mr-1 text-color">Duration:</span>
                        <span class="fs-15 fw-700 text-color" *ngIf="type === 'hourly'">{{duration}}</span>
                        <span class="fs-15 fw-700 text-color" *ngIf="type === 'daily'">{{duration}}</span>
                        <span class="fs-15 fw-700 text-color" *ngIf="type === 'weekly'">{{duration}}</span>
                    </h1>
                    <h1><span class="fs-15 mr-1 text-color">Booking Time:</span><span
                            class="fs-15 fw-700 text-color">{{booked_time}}</span></h1>
                    <h1><span class="fs-15 mr-1 text-color">Start Time:</span><span
                            class="fs-15 fw-700 text-color">{{start_time}}</span></h1>

                </div>
            </div>





            <!-- <div class="col-md-3">
                <div class="">
                    <h1><span class="fs-15 mr-1 text-color">Duration:</span><span *ngIf="type === 'hourly'"
                            class="fs-15 fw-700 text-color">{{duration}} Hrs</span><span *ngIf="type === 'daily'"
                            class="fs-15 fw-700 text-color">{{duration}}
                            days</span><span *ngIf="type === 'weekly'" class="fs-15 fw-700 text-color">{{duration}}
                            weeks</span></h1>
                    <h1><span class="fs-15 mr-1 text-color">Satus:</span><span
                            class="fs-15 fw-700 text-color">{{booking_status}}</span></h1>
                    <h1><span class="fs-15 mr-1 text-color">Payment:</span><span
                            class="fs-15 fw-700 text-color">{{payment_status}}</span></h1>
                </div>
            </div> -->
            <div class="col-md-3">
                <div class="price-sec mb-3">
                    <p class="fs-16">Sub Total:</p>
                    <p class="font-weight-bold fs-16 fw-700">{{paid_amount}}</p>
                </div>
                <div class="price-sec mb-3">
                    <p class="fs-16">Taxes:</p>
                    <p class="font-weight-bold fs-16 fw-700">0</p>
                </div>
                <div class="price-sec mb-3 pt-3 border-top">
                    <p class="fs-16">Grand Total:</p>
                    <p class="font-weight-bold fs-16 fw-700">{{paid_amount}}</p>
                </div>
                <!-- <div class="">
                    <h1><span class="fs-15 mr-1 text-color">Sub Total:</span><span class="fs-16 fw-700"><i
                                class="fa fa-inr mr-1" aria-hidden="true"></i>}}</span></h1>
                    <h1 class="border-bottom mgb-0 pdb-10"><span class="fs-15 mr-1 text-color">GST
                            Tax:</span><span class="fs-16 fw-700"><i class="fa fa-inr mr-1"
                                aria-hidden="true"></i>0</span>
                    </h1>
                    <h1><span class="fs-15 mr-1 text-color">Grand Total:</span><span class="fs-16 fw-700"><i
                                class="fa fa-inr mr-1" aria-hidden="true"></i></span></h1>
                </div> -->
            </div>
        </div>
        <div class="col-md-12 mgt-15">
            <h1 class="mgb-10 fs-20 fw-600 text-color">Thank you for Booking with us</h1>
            <h1 class="mgb-10 fs-22 fw-600 text-color">Team CREXIN</h1>
        </div>
    </div>
</div>