.body{
    background-color: #dcdcdc;
    padding: 20px 50px 30px 50px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}
@media(max-width:768px){
    .body{
        padding: 30px !important;
    }
}

