<!-- <div class="boder-bottom">
    <p><a href="" class="crexin-text">All Equipments</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Articulating Boom Lift</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Cranes</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Electric Scissor Lift</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Light Tower</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Glazing Equipment</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Material Lift</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Mini Crawler Crane</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Personal Lift</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Rough Terrain Scissor Lift</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Straight Boom Lift</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Telescopic Forklift</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Towable Boom Lifts</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Utility Vehicles</a></p>
</div>
<div class="boder-bottom mgt-12">
    <p><a href="">Warehouse Forklift</a></p>
</div> -->
<div class="boder-bottom mgt-12" *ngFor="let  categorie of  categories;let id = index">
    <p><a (click)="categoriedetails(categorie.id)">{{categorie.c_name}}</a></p>
</div>
