<div class="container-fluid p-0">
    <div class="profile-image">
        <div class="col-md-12 text-center text-position-center">
            <h1 class="text-light fs-30 fw-700">
                UPDATE YOUR PROFILE
            </h1>
        </div>
    </div>
    <div class="profile-bg">
       <div class="sub-bg">
        <div class="grid">
            <div class="row mg-0">
                <div class="col-md-12">
                    <h1 class="fs-20 fw-700 text-color">Notifications</h1>
                </div>
            </div>
            <div class="row mg-0 justify-content-center d-flex profile-gap">
                <div class="col-md-6 my-2">
                    <div class="card">
                        <h1 class="fs-15 fw-700 text-color mgb-5">Your Booking has been confirmed</h1>
                        <p class="fs-13 text-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="d-flex justify-content-end mt-2">
                            <span class="fs-15 text-color mr-2">12/05/2021</span>
                            <span class="fs-15 text-color">5:30pm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card">
                        <h1 class="fs-15 fw-700 text-color mgb-5">Your Booking has been confirmed</h1>
                        <p class="fs-13 text-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="d-flex justify-content-end mt-2">
                            <span class="fs-15 text-color mr-2">12/05/2021</span>
                            <span class="fs-15 text-color">5:30pm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card">
                        <h1 class="fs-15 fw-700 text-color mgb-5">Your Booking has been confirmed</h1>
                        <p class="fs-13 text-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="d-flex justify-content-end mt-2">
                            <span class="fs-15 text-color mr-2">12/05/2021</span>
                            <span class="fs-15 text-color">5:30pm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card">
                        <h1 class="fs-15 fw-700 text-color mgb-5">Your Booking has been confirmed</h1>
                        <p class="fs-13 text-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                        <div class="d-flex justify-content-end mt-2">
                            <span class="fs-15 text-color mr-2">12/05/2021</span>
                            <span class="fs-15 text-color">5:30pm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>