<div class="sidenav-bg">
    <ul class="text-center">
        <li>
            <a href="" routerLink="/profile/bookings" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-list" aria-hidden="true"></i><span class="">Bookings</span></a>
        </li>
        <li>
            <a href="" routerLink="/profile/favourites" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-heart-o" aria-hidden="true"></i><span>Favourite</span></a>
        </li>
        <li>
            <a href="" routerLink="/profile/payments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-credit-card" aria-hidden="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"></i><span>Payments</span></a>
        </li>
        <li>
            <a href="" routerLink="/profile/address" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-map-marker" aria-hidden="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"></i><span>Address</span></a>
        </li>
    </ul>
</div>