<div class="container-fluid p-0">
  <div class="profile-image">
      <div class="col-md-12 text-center text-position-center">
          <h1 class="text-light fs-30 fw-700">
              HELP CENTER
          </h1>
      </div>
  </div>
  <div class="profile-bg">
     <div class="sub-bg">
      <div class="grid">
          <div class="row mg-0">
              <div class="col-md-12">
                  <h1 class="fs-20 fw-700 text-color">Help Query</h1>
              </div>
          </div>
          <div class="row mg-0 justify-content-center d-flex profile-gap">
              <!-- <div class="col-md-6 my-2">
                  <div class="information" data-aos="flip-down">
                      <div class="social-icons text-center">
                          <i class="fa fa-envelope fs-20 fw-700">
                          </i>
                      </div>
                      <div class="text-center mt-3">
                          <h1 class="fs-15 mgb-0">Interested candidates please send your CV to</h1>
                          <h1 class="fs-18 fw-600 text-color">Info@crexin.com</h1>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 my-2">
                  <div class="information" data-aos="flip-down">
                      <div class="social-icons text-center">
                          <i class="fa fa-phone fs-20 fw-700">
                          </i>
                      </div>
                      <div class="text-center mt-3">
                          <h1 class="fs-15 mgb-0">For any queries related to jobs call us to</h1>
                          <h1 class="fs-18 fw-600 text-color">+918805016820</h1>
                      </div>
                  </div>
              </div> -->
              <div class="col-md-12 my-3">
                 <div class="card">
                  <div class="row mg-0">
                      <div class="col-md-12">
                          <h1 class="text-center fs-18 fw-700 mgb-0">I Don't Remember my Email or Phoe</h1>
                          <p class="text-center">if you no longer use the email or mobile associated with your crexin
                            account, you may contact us for help restoring access to your account</p>
                      </div>

                      <div class="col-md-12 my-3">
                        <div class="py-2 customercare w-25 text-center mx-auto">
                            <p>Customer care number</p>
                            <h2 class="font-weight-bold">+91 88050 16820</h2>
                        </div>
                      </div>
                  </div>
                 </div>
              </div>
          </div>
      </div>
     </div>
  </div>
</div>

