<div class="container-fluid p-0">
  <div class="profile-image">
    <div class="col-md-12 text-center text-position-center">
        <h1 class="text-light fs-30 fw-700">
           UPDATE YOUR PROFILE
        </h1>
      </div>
  </div>
  <div class="profile-bg">
    <div class="grid">
        <div class="row mg-0">
            <app-profile-filed class="w-100"></app-profile-filed>
            <div class="bg-white profile-fields mt-4">
              <div class="row mg-0">
                <div class="col-md-3">
                    <app-sidenav></app-sidenav>
                </div>
                <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="fs-20 fw-700 mgb-10 text-color">Bookings</h1>
                                </div>
                            </div>
                             <div class="table-responsive">
                              <table class="w-100">
                                <thead class="bookings-header">
                                    <tr>
                                        <th class="fs-17 fw-700 text-color">#Booking ID</th>
                                        <th class="fs-17 fw-700 text-color text-center">Equipment Name</th>
                                        <th class="fs-17 fw-700 text-color">Date</th>
                                        <th class="fs-17 fw-700 text-color">Amount Paid</th>
                                        <th class="fs-17 fw-700 text-color">Status</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white">
                                    <tr>
                                        <td>
                                            <h1 class="crexin-text fs-15 fw-700">#REQ0052255452</h1>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center order-image">
                                                <img src="assets/images/c.png" alt="order-image" class="img-fluid">
                                            </div>
                                            <h1 class="fs-18 fw-700 mgb-0 text-center text-color">BACK HOE LOADER</h1>
                                        </td>
                                        <td>
                                            <p class="fs-15 fw-600 text-color mgb-5">24-04-2021</p>
                                            <p class="ffs-15 fw-600 text-color mgb-0">7am to 9am</p>
                                            <h1 class="fs-15 fw-600 mgb-10 pdl-30">To</h1>
                                            <p class="fs-15 fw-600 text-color mgb-5">24-04-2021</p>
                                            <p class="fs-15 fw-600 text-color mgb-0">7am to 9am</p>
                                        </td>
                                        <td>
                                          <div class="text-center">
                                             <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
                                             <span class="fs-18 fw-700">7100</span>
                                          </div>
                                        </td>
                                        <td>
                                            <h1 class="mgb-0 fs-15 fw-700 crexin-text">Requested</h1>
                                        </td>
                                    </tr>
                                    <tr>
                                     <td>
                                         <h1 class="text-success fs-15 fw-700">#REQ0052255452</h1>
                                     </td>
                                     <td>
                                         <div class="d-flex justify-content-center order-image">
                                             <img src="assets/images/c1.png" alt="order-image" class="img-fluid">
                                         </div>
                                         <h1 class="fs-20 fw-700 mgb-0 text-center">BACK HOE LOADER</h1>
                                     </td>
                                     <td>
                                         <p class="fs-15 fw-700">24-04-2021</p>
                                         <p class="fs-15 fw-700">7am to 9am</p>
                                         <h1 class="fs-15 fw-700 mgb-10 pdl-30">To</h1>
                                         <p class="fs-15 fw-700">24-04-2021</p>
                                         <p class="fs-15 fw-700">7am to 9am</p>
                                     </td>
                                     <td>
                                       <div>
                                          <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
                                          <span class="fs-18 fw-700">7100</span>
                                       </div>
                                     </td>
                                     <td>
                                         <h1 class="mgb-0 fs-15 fw-700 text-success">Confirmed</h1>
                                     </td>
                                    </tr>
                                    <tr>
                                     <td>
                                         <h1 class="fs-15 fw-700 text-color">#REQ0052255452</h1>
                                     </td>
                                     <td>
                                         <div class="d-flex justify-content-center order-image">
                                             <img src="assets/images/c3.png" alt="order-image" class="img-fluid">
                                         </div>
                                         <h1 class="fs-20 fw-700 mgb-0 text-center">BACK HOE LOADER</h1>
                                     </td>
                                     <td>
                                         <p class="fs-15 fw-700">24-04-2021</p>
                                         <p class="fs-15 fw-700">7am to 9am</p>
                                         <h1 class="fs-15 fw-700 mgb-10 pdl-30">To</h1>
                                         <p class="fs-15 fw-700">24-04-2021</p>
                                         <p class="fs-15 fw-700">7am to 9am</p>
                                     </td>
                                     <td>
                                       <div>
                                          <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
                                          <span class="fs-18 fw-700">7100</span>
                                       </div>
                                     </td>
                                     <td>
                                         <h1 class="mgb-0 fs-15 fw-700 text-color">Completed</h1>
                                     </td>
                                    </tr>
                                     <tr>
                                      <td>
                                          <h1 class="fs-15 fw-700">#REQ0052255452</h1>
                                      </td>
                                      <td>
                                          <div class="d-flex justify-content-center order-image">
                                              <img src="assets/images/c3.png" alt="order-image" class="img-fluid">
                                          </div>
                                          <h1 class="fs-20 fw-700 mgb-0 text-center">BACK HOE LOADER</h1>
                                      </td>
                                      <td>
                                          <p class="fs-15 fw-700">24-04-2021</p>
                                          <p class="fs-15 fw-700">7am to 9am</p>
                                          <h1 class="fs-15 fw-700 mgb-10 pdl-30">To</h1>
                                          <p class="fs-15 fw-700">24-04-2021</p>
                                          <p class="fs-15 fw-700">7am to 9am</p>
                                      </td>
                                      <td>
                                        <div>
                                           <i class="fa fa-inr mr-1 fs-15 fw-700"></i>
                                           <span class="fs-18 fw-700">7100</span>
                                        </div>
                                      </td>
                                      <td>
                                          <h1 class="mgb-0 text-color fs-15 fw-700">Done</h1>
                                          <div class="d-flex mt-3">
                                            <a class="text-color cursor-pointer"><i class="fa fa-download mr-3 fs-20 fw-700"></i></a>
                                            <a class="text-color cursor-pointer"><i class="fa fa-share-alt fs-20 fw-700"></i></a>
                                          </div>
                                      </td>
                                     </tr>
                                </tbody>
                              </table>
                             </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
