<section>
    <h2>The Entered information will be lost. Are you sure you want to leave this page ?
    </h2>
    <mat-divider></mat-divider>
    <!-- <mat-dialog-content>
      <div>
        <p style="text-align: center;">Are you sure?</p>
      </div>
    </mat-dialog-content> -->
    <mat-dialog-actions fxLayoutAlign="center none">
      <button mat-raised-button  class="button bg-white ml-auto mr-3" (click)="onYesResponse()">Yes</button>
      <button mat-raised-button  class="button bg-white" (click)="onNoResponse()">No</button>
    </mat-dialog-actions>
  </section>

