<div class="container-fluid p-0">
    <div class="profile-image">
        <div class="col-md-12 text-center text-position-center">
            <h1 class="text-light fs-30 fw-700">
                UPDATE YOUR PROFILE
            </h1>
        </div>
    </div>
    <div class="profile-bg">
        <div class="grid">
            <div class="row mg-0">
                <app-profile-filed class="w-100"></app-profile-filed>
                <div class="bg-white profile-fields mt-4">
                    <div class="row mg-0">
                        <div class="col-md-3">
                            <app-sidenav></app-sidenav>
                        </div>
                        <div class="col-md-9">
                            <div class="row mgl-0 mgr-0">
                                <div class="col-md-12">
                                    <h1 class="fs-20 fw-600 mgb-0 text-color">Payments</h1>
                                    <h2 class="fs-18 fw-600 mgb-0 text-color">Saved Cards</h2>
                                </div>
                            </div>
                            <div class="row my-2 mgl-0 mgr-0">
                                <div class="col-md-6 mb-3">
                                    <div class="row bdr rounded-lgx p-2  mgl-0 mgr-0">
                                        <div class="col-3 p-0">
                                            <i class="fa fa-cc-visa fa-3x mt-1 d-block"></i>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="fs-18  mgb-5 text-color">1245-5897-5954-9875</p>
                                            <p class="fs-15  mgb-5 text-color">Exp Date:xx-xx</p>
                                        </div>
                                        <div class="col-1 p-0">
                                            <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row border border-secondary rounded-lgx p-2  mgl-0 mgr-0">
                                        <div class="col-3 p-0">
                                            <i class="fa fa-cc-mastercard fa-3x mt-1 d-block"></i>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="fs-18 fw-700 mgb-5">1245-5897-5954-9875</p>
                                            <p class="fs-15 mgb-5">Exp Date:xx-xx</p>
                                        </div>
                                        <div class="col-1 p-0">
                                            <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row border border-secondary rounded-lgx p-2  mgl-0 mgr-0">
                                        <div class="col-3 p-0">
                                            <i class="fa fa-cc-visa fa-3x mt-1 d-block"></i>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="fs-18 fw-700 mgb-5">1245-5897-5954-9875</p>
                                            <p class="fs-15 mgb-5">Exp Date:xx-xx</p>
                                        </div>
                                        <div class="col-1 p-0">
                                            <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row border border-secondary rounded-lgx p-2  mgl-0 mgr-0">
                                        <div class="col-3 p-0">
                                            <i class="fa fa-cc-visa fa-3x mt-1 d-block"></i>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="fs-18 fw-700 mgb-5">1245-5897-5954-9875</p>
                                            <p class="fs-15 mgb-5">Exp Date:xx-xx</p>
                                        </div>
                                        <div class="col-1 p-0">
                                            <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>