<div class="container-fluid p-0">
    <div class="profile-image">
        <div class="col-md-12 text-center text-position-center">
            <h1 class="text-light fs-30 fw-700">
                UPDATE YOUR PROFILE
            </h1>
        </div>
    </div>
    <div class="profile-bg">
       <div class="sub-bg">
        <div class="grid">
            <div class="row mg-0">
                <div class="col-md-12">
                    <h1 class="fs-20 fw-700 text-color mgb-0">Payments</h1>
                </div>
                <div class="col-md-12">
                    <h1 class="fs-20 fw-700 text-color mgb-0">Saved Cards</h1>
                </div>
            </div>
            <div class="row mg-0 justify-content-center d-flex profile-gap">
                <div class="col-md-6 my-2">
                    <div class="row bdr rounded-lgx p-2 mgl-0 mgr-0">
                        <div class="col-3 p-0">
                            <i class="fa fa-cc-visa fa-3x mt-1 d-block"></i>
                        </div>
                        <div class="col-8 p-0">
                            <p class="fs-18 fw-700 mgb-5 text-color">1245-5897-5954-9875</p>
                            <p class="fs-15 fw-700 mgb-5 text-color">Exp Date:xx-xx</p>
                        </div>
                        <div class="col-1 p-0">
                           <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6 my-2">
                    <div class="row border border-secondary rounded-lgx p-2  mgl-0 mgr-0">
                        <div class="col-3 p-0">
                            <i class="fa fa-cc-mastercard fa-3x mt-1 d-block"></i>
                        </div>
                        <div class="col-8 p-0">
                            <p class="fs-18 fw-700 mgb-5">1245-5897-5954-9875</p>
                            <p class="fs-15 mgb-5">Exp Date:xx-xx</p>
                        </div>
                        <div class="col-1 p-0">
                           <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6 my-2">
                    <div class="row border border-secondary rounded-lgx p-2  mgl-0 mgr-0">
                        <div class="col-3 p-0">
                            <i class="fa fa-cc-mastercard fa-3x mt-1 d-block"></i>
                        </div>
                        <div class="col-8 p-0">
                            <p class="fs-18 fw-700 mgb-5">1245-5897-5954-9875</p>
                            <p class="fs-15 mgb-5">Exp Date:xx-xx</p>
                        </div>
                        <div class="col-1 p-0">
                           <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6 my-2">
                    <div class="row border border-secondary rounded-lgx p-2  mgl-0 mgr-0">
                        <div class="col-3 p-0">
                            <i class="fa fa-cc-visa fa-3x mt-1 d-block"></i>
                        </div>
                        <div class="col-8 p-0">
                            <p class="fs-18 fw-700 mgb-5">1245-5897-5954-9875</p>
                            <p class="fs-15 mgb-5">Exp Date:xx-xx</p>
                        </div>
                        <div class="col-1 p-0">
                           <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                        </div>
                    </div>
                 </div>   <div class="col-md-6 my-2">
                    <div class="row bdr rounded-lgx p-2 mgl-0 mgr-0">
                        <div class="col-3 p-0">
                            <i class="fa fa-cc-visa fa-3x mt-1 d-block"></i>
                        </div>
                        <div class="col-8 p-0">
                            <p class="fs-18 fw-700 mgb-5 text-color">1245-5897-5954-9875</p>
                            <p class="fs-15 fw-700 mgb-5 text-color">Exp Date:xx-xx</p>
                        </div>
                        <div class="col-1 p-0">
                           <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6 my-2">
                    <div class="row border border-secondary rounded-lgx p-2  mgl-0 mgr-0">
                        <div class="col-3 p-0">
                            <i class="fa fa-cc-mastercard fa-3x mt-1 d-block"></i>
                        </div>
                        <div class="col-8 p-0">
                            <p class="fs-18 fw-700 mgb-5">1245-5897-5954-9875</p>
                            <p class="fs-15 mgb-5">Exp Date:xx-xx</p>
                        </div>
                        <div class="col-1 p-0">
                           <a href=""> <i class="fa fa-trash fa-2x mt-1 text-danger"></i></a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
       </div>
    </div>
</div>