<div class="container-fluid p-0">
    <div class="bg-pic">
        <div class="col-md-12 text-position-center">
          <h1 class="text-light fs-30 fw-700 text-center">
              Rent an Equipment
          </h1>
        </div>
    </div>
    <div class="conform-rent-bg">
       <div class="grid">
           <!-- <div class="row">
               <div class="col-md-12">
                   <div class="text-center">
                    <h1><i class="fa fa-check-circle text-success fs-50 fw-700"></i></h1>
                    <h1 class="fs-25 fw-700 text-success mgb-0">Your Order has been Confirmed</h1>
                    <h1><span class="fs-15 fw-700 mr-1">Order Confirmation Number:</span><span class="crexin-text fs-15 fw-700">{{booked_id}}</span></h1>
                   </div>
               </div>
           </div> -->
           <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-center">
                    <h1><i class="fa fa-check-circle text-success fs-50 fw-700"></i></h1>
                    <h1 class="fs-25 fw-700 text-success mgb-0">Your Order has been Confirmed</h1>
                    <h1><span class="fs-15 fw-700 mr-1">Order Confirmation Number:</span><span class="crexin-text fs-15 fw-700">{{booked_id}}</span></h1>
                   </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="order-request">
                    <h2 class="mb-0 fs-18 mr-1 fw-700 text-color">Your Booking ID:</h2>
                    <h2 class="text-success fs-18 fw-700 mb-0">#C22222222</h2>
                </div>
            </div>
               <!-- <div class="col-md-12">
                   <h1 class="mgb-0"><span class="fs-15 mr-1">Equipment Type:</span><span class="fs-15 fw-700">Back Hole Loader</span></h1>
                   <h1 class="mgb-0"><span class="fs-15 mr-1">Assigned Equipment Model:</span><span class="fs-15 fw-700">JCB 3DX</span></h1>
                   <h1 class="mgb-0"><span class="fs-15 mr-1">Operator Name:</span><span class="fs-15 fw-700">Sanjith Kumar</span></h1>
                   <h1 class="mgb-0"><span class="fs-15 mr-1">Contact No:</span><span class="fs-15 fw-700">+91-9963509329</span></h1>
               </div> -->
               <div class="col-md-12">
                <p class="mt-3 fs-17 lh-26 text-color">Thank you for your order request with us. currently we are processing your request we will conform your order with the equipment details along with the driver contact details in 15 mins</p>
               </div>
               <div class="col-md-6 offset-md-3">
                <div class="order-request">
                    <h2 class="mb-0 fs-18 mr-1 fw-700 text-color">Booking Status:</h2>
                    <h2 class="text-success fs-18 fw-700 mb-0">#C22222222</h2>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-12 border-bottom-silver">
                <h1 class="fs-20 fw-700 mgt-10">Booking Summary</h1>
            </div>
            <div class="col-md-12 d-flex mgt-15">
                <h2 class="mb-0 fs-15 fw-700 mr-1">Order Confirmation Number:</h2>
                <h2 class="crexin-text fs-15 mb-0">{{booked_id}}</h2>
            </div>
            <div class="row w-100 mgt-15">
                <div class="col-md-3 border-right-silver">
                    <div class="image text-center">
                        <img src="assets/images/c4.png" alt="" class="w100">
                        <p class="mt-3 fs-15 fw-700">Crane 1</p>
                    </div>
                </div>
                <div class="col-md-3">
                  <div>
                      <h1><span class="fs-15 mr-1">Date:</span><span class="fs-15 fw-700">14-04-2021</span></h1>
                      <h1><span class="fs-15 mr-1">Time:</span><span class="fs-15 fw-700">7AM to 8AM</span></h1>
                      <h1><span class="fs-15 mr-1">Type:</span><span class="fs-15 fw-700">Hourly Based</span></h1>
                  </div>
                </div> <div class="col-md-3 border-right-silver">
                    <div class="">
                        <h1><span class="fs-15 mr-1 text-color">Duration:</span><span class="fs-15 fw-700">5hrs</span></h1>
                        <h1><span class="fs-15 mr-1 text-color">Satus:</span><span class="fs-15 fw-700">Requested</span></h1>
                        <h1><span class="fs-15 mr-1 text-color">Payment:</span><span class="fs-15 fw-700">Online Txn.</span></h1>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">
                        <h1><span class="fs-15 mr-1 text-color">Sub Total:</span><span class="fs-15 fw-700"><i class="fa fa-inr mr-1" aria-hidden="true"></i> 7500</span></h1>
                        <h1><span class="fs-15 mr-1 text-color">GST Tax:</span><span class="fs-15 fw-700"><i class="fa fa-inr mr-1" aria-hidden="true"></i>100</span></h1>
                        <!-- <h1 class="mgb-0"><span class="fs-15 mr-1">Advance Paid:</span><span class="fs-15 fw-700"><i class="fa fa-inr mr-1" aria-hidden="true"></i>500</span></h1> -->
                        <div class="border-bottom mgt-10 mgb-10"></div>
                        <h1><span class="fs-15 mr-1 text-color">Grand Total:</span><span class="fs-15 fw-700"><i class="fa fa-inr mr-1" aria-hidden="true"></i>7600</span></h1>
                    </div>
                </div>
            </div>
           <div class="mgt-10 row w-100">
            <div class="col-md-6">
                <h1 class="mgb-0 fs-20 fw-600">Thank you for Booking with us</h1>
                <h1 class="mgb-10 fs-20 fw-700">CREXIN</h1>
            </div>
            <div class="col-md-6 d-flex">
                <h1 class="text-center fs-15">(To be paid after  the completion of the work)</h1>
            </div>
           </div>
           </div>
       </div>
    </div>
</div>